.page{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    background: #EFEFEF;
    color: #2D4054;
    min-height: 100%;
    position: relative;
    .main{
        max-width:1200px; 
        margin:0 auto;
        padding: 60px 0 20px;
        
    }
}
@media screen and(min-width:1024px){
    .main-panel{
        padding: 20px 20px 20px 270px;
    }
}
@media screen and(min-width:768px) and(max-width:1024px){
    .main-panel{
        padding: 20px 20px 20px 20px;
    }
}
@media screen and(max-width:768px){
    .main-panel{
        padding: 0 5px;
    }
}